.sheetTable {
  border-collapse: collapse;

  & th, & td {
    border: 1px solid #CCC;
    font-weight: normal;
    padding: 2px;
  }

  & th {
    background-color: #EEE;

    &:first-child {
      width: 25px;
    }
  }

  & td {
    text-align: right;
    width: 50px;
  }
}
