.sheetTable {
  border-collapse: collapse;

  & th, & td {
    border: 1px solid #CCC;
    font-weight: normal;
    padding: 0;
  }

  & th {
    background-color: #EEE;

    &:first-child {
      width: 25px;
    }
  }

  & td {
    text-align: right;
    width: 60px;

    & span {
      display: inline-block;
      padding: 2px;
      width: 100%;
    }

    & input {
      border: 0;
      padding: 2px;
      width: 100%;
    }
  }
}
