.sheetTable {
  border-collapse: collapse;
  cursor: default;
  display: inline-block; /* fixes edge case bug with user-select rule */
  outline: none;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  & th, & td {
    border: 1px solid #CCC;
    font-weight: normal;
    padding: 0;
  }

  & th {
    background-color: #EEE;

    &:first-child {
      width: 25px;
    }
  }

  & td {
    position: relative;
    text-align: right;
    width: 60px;
    height: 20px;

    & div {
      width: 100%;
      height: 100%;
    }

    & input {
      border: 0;
      cursor: text;
      padding: 0;
      width: 100%;
    }

    &.selected::before {
      border: 2px solid #4285F4;
      bottom: -1px;
      content: "";
      left: -1px;
      pointer-events: none;
      position: absolute;
      right: -1px;
      top: -1px;
    }

    &.rangeSelected {
      background-color: #ECF3FF;
    }

    &.editing {}
  }
}
